@font-face {
    font-family: Harmony OS font;
    src: url("//gtyx2018-4c.github.io/cdn1/HarmonyOS_Sans_SC_Regular.ttf");
}
@font-face {
    font-family: ICON;
    src: url("//gtyx2018-4c.github.io/cdn1/SEGOEICONS.TTF");
}